body {
	background: url("<img src="../anninhk.github.io/blob/master/unit03/assets/background.jpg">);

}
hr {
	<hr align: left; width: 10%; color: red;

}
p {
	font-family: arial; font-size: 18px;
}
a {}
