body {
	background:url("images/stripes.png), url("images/background.jpg); background-color: #52596b;

}
hr {
	<hr align: left; width: 5%; height: 5px; float: left; background-color: red; color: red;

}
p {
	font-family: arial; font-size: 26px;
}
a {
	background: url("images/btn_store.png"),
}
