body {
		background:url(Assets/saispice logo_white_small_cropped.jpg");
		background-position: center;
		background-color: #ffa732;
		font-family:  "trebuchet MS", "Helvetica", sans-serif;
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
		border-bottom: 4px dotted;
		margin-left: 200px;
		margin-right: 200px;
		margin-bottom: 30px;
		padding-bottom: 20px;

}

h1 {
	color: #0d6bff;
	text-align: center;
}

p{
	color: #0d6bff;
	margin-left:200px;
	margin-right:200px;

}
footer 