body {
		
		background-attachment: fixed;
    	background-position: 20% 30%; 
		background-color: #ffa732;
		font-family:  "trebuchet MS", "Helvetica", sans-serif;
		font-color: 65141b;
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
		border-bottom: 4px ;
		margin-left: 200px;
		margin-right: 200px;
		margin-bottom: 30px;
		padding-bottom: 20px;
	}
		
		#logo {
			width: 470px;
			margin: auto;
		}
		

		}
img {src="Assets/red_chili_small.jpg">
		background-position: 20px 50px

}

h1 {
	color: #65141b;
	text-align: center;
}

p{
	color: #65141b;
	margin-left:200px;
	margin-right:200px;

ul{
	font-color: #65141b;
}

	#chilli {
			width: 500px;
			margin: auto;
			margin-left: 426;
		}	

}
footer {
	width:90%;
margin:auto;
text-align:right;
clear:both;
font-family: MS Serif;
font-size: 12px;
font-style: italic;
}