

 
body {
background: #bae2ff;
width:100%;
font-size: 15px;
font-family: 'Droid Sans', 'Helvetica', sans-serif;
font-weight: 400;
font-color: #00004c;
margin: 0px;
padding: 0px;


}

h1 { 
      font-size: 70px;
      position: 
  }

h2 {
  font-size: 48px;
}
h3,h4
    font-color: #00004c;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 140%;
}

#header-container {
  width: 100%;
  height: 170px;
  background-color: #0071b2;
}


#header {
  width: 100%;
  height: 180px;
  margin-top: 2%;
  margin-bottom: 4%;
  background-color: #0071b2;
  border-bottom: 3px #800020;
  margin: auto;
  }

#logo {
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 150px;
  }

#name {
  float: right;
  padding top: 35px;
  padding-right: 170px;
}


#nav {
  height: 76px;
  width: auto;
  margin-left: 15px;
  padding-top: 144px;
  padding-left: 180px;
  letter-spacing: 2px;
  word-spacing: 80px;
  font-weight: bold;
  font-size: 130%;
 
}

#nav ul {
  text-align: left;
  margin: auto;
  width: auto;
}

#nav li {
  display: inline;
  padding: 0px;
  margin: 0px;
}


     
 
#main {
    

  }

  #wrapper {
    margin-top: auto;
    width: 795px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold; 
    border: 0px;
    padding: 5px;


  }

/* Sidebars */
#left-sidebar, #right-sidebar {
font-size:10pt;
position:absolute;
width:150px;
}

#left-sidebar {
  margin-left: 15%;
  float: left;
  width:500px;
  padding:10px;
  font-color:#800020;
  font-size: 90%;
  font-style: italic;
  border-style: groove; 
  border-radius: 25px;
  border-width: 6px;
  border-color: #ff0000;

}

#right-sidebar {
  right: 5px;
  margin-right: 10%;
  float: right;
  width:500px;
  padding:10px;
  font-size: 90%;
  font-style: italic;
  border-top-style: groove;
  border-width: 6px;
  border-radius: 5px;
  border-color: #ff0000;
}
   

#footer{
  border-top: 2px;
  width: 100%;
  clear: both;
  }
