

 
body {
background: #c6baba;
width:100%;
font-size: 14px;
font-family: 'Droid Sans', 'Helvetica', sans-serif;
padding:10px auto 0 auto;
margin:auto;

}



.container {
  background-color: #e3170d; 
  border-bottom: 10px solid #ffffff;
}


.navigation {
  letter-spacing: 2px;
  word-spacing: 75px;
  font-weight: bold;
  font-size: 120%;
  float: right;
  padding: 38px 50px 13px 15px;

}



.logo {
 
}


.masthead {
  background-color: 16dbbb;
  width: 350px;
  float: right;
  padding: 10px;
}  

.section {
    position: fixed;
    top: 300px;
    width: 350px;
    margin-left: 25%;
    float: left;
    padding: 15px 15px 15px 15px;
    
.main {
 
   
}

.aside {
  top: 300px;
  width 300px     
  float: right;
  padding: 15px;
}

footer {

}