* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	}

body {
	color: #ffffff;
	background-color: #0071b2;
	font-family: 'Droid Serif', serif;
	font-size: 1em;
	font-weight: 100%;
	width: 100%;
	height: 100%;
	/* margin: 0px;
	padding: 0px; */
	}

header {
	width: 15%;
	display: block;
	margin: 0;
	}

	.logo {
		width: 100px;
		height: 150px;
		display: block;
		margin-top: 10%;
		margin-left: 10%;
		padding: 1.23%;
		float: left; 
		}	
		.clearfix:after {
		content:' ';
		display:block;
		clear:both;
		}
/* ------------------- large nav -------------------- */			
	.nav_lg {
		display: block;
		float: right;
		margin: 0;
		padding: 0.6% 1.23%;
				}
		.clearfix:after {
		content:' ';
		display:block;
		clear:both;
		}

			.nav_lg ul {
				list-style-type: none;
			    margin: 0;
			    padding : 0;
			    }

			.nav_lg li {
				float: left;
				}

			.nav_lg li a {
				display: block;
				width: 120px;
				font-weight: bold;
				background: #0ab5c9;
				text-align: center;
				color: #ffffff;
				padding: 5px;
				text-decoration: none;
				letter-spacing: 2px;
				word-spacing: 20px;
				border-left: 1px solid #fff;
				}

			.nav_lg li a:hover {
				background: #e51708;
				}


/* ------------------- small nav -------------------- */

	.nav_sm{
		display:none;
		}

	.nav_sm ul {
	  	list-style: none;
	  	margin:.5em;
	  	background:#ffffff;
		}

	.nav_sm li{
		padding:1em;
		background: #ffffff;
		}

	.nav_sm li:hover{
		background:red;
		}

	.nav_sm li a{
		text-decoration: none;
		color:#333333;
		font-weight:800;
	}

	.nav_sm li a:hover{
		text-decoration: none;
	/*	color:#333333;
		font-weight:800;*/
		}

/* ------------------- toggle menu -------------------- */

	#menu-toggle {
  		display: none; /* hide the checkbox */
		}

	#menu {
 		display: none; /* hide the menu items */
		}

	/* when toggle is checked, display the menu */
	#menu-toggle:checked + #menu {
	  display: block;
	}

	.content {
		width: 100%;
		padding: 3%;
		}

	h1 {
		width: 100%;
		font-size: 3.37em;
		font-family: 'Oswald';
		color: #ffffff;
		text-align: center;
		padding: 0.618%;
		margin-top: 2%;  
		}

	h2 {
		width: 100%;
		text-align: center;
		font-size: 1.625em;
		font-family: 'Oswald';
		line-height: 1.313em;
		font-weight: bold;
		padding: 2%;
		color: #ffffff;
		}

	h3 {
		font-size: 1.313em;
		font-family: Oswald;
		line-height: 1.313em;
		font-weight: bold;
		width: 33%;
		padding: 1.5% 1%;
		text-align: center;
		color: #ffffff;
		margin-left: 33%;
		}

	h4 {
		font-family: Oswald;
		font-weight: bold;
		padding-top: 1.75%;
		}

	p {
		width: 33%;
		margin-left: 33%;
		text-align: center;
		font-size: 0.875em;
		word-spacing: 0.188em;
		line-height: 1.313em;
		font-weight: bold;
		color: #ffffff;
		}
		
/* article {
	width: 50%;
	padding: 0.6%;
	margin: 3% auto 7%;
} */

	hr { 
	    display: block;
	    margin-top: 0.5em;
	    margin-bottom: 0.5em;
	    width: 75%;
	    margin-left: auto;
	    margin-right: auto;
	    border-style: inset;
	 	}
   	
/* photo gallery */

	figure {
		display: block;
		margin-left: 9%;
		margin-right: auto;
		padding: 1%;
		float: left;
  		}

		figure a:hover img {
		    border: 2px solid #e89203;
			}

		figcaption {
		  	display: block;
		  	text-align: center;
		  	position: relative;
		  	padding: 1em 0 1.5em;
		 	font-size: 0.75em;
		  	clear: both;
		  	}
 	
	footer {
		width:100%;
		position: relative;
		margin-top: 20%;
		clear: both;
	    text-align:center;
	    color: #0ab5c9;
	    padding: 0.5%; 
		}


/* About page */
		/* Responsive for this page not yet done */
.about 

	header {
		background-color: #0071b2;
		}
		
	#sidebar {
		width: 18%;
		margin-top: 10%;
		margin-left: 10%;
		border: 2px solid;
		background-color: #c3e4ed;
		float: left;
		clear: both;
		}

		/*image moves about within the background as resize screen- how to keep together? */
	#sidebar img {
		margin-left: 10%;
		padding: 3% 2%;
		}

	#sidebar h3 {
		width: 60%;
		font-family: 'Droid', serif;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 3%;
		color: #000000;
		text-align: center;
		}

	#sidebar p {
		width: 90%;
		margin-left: 5%;
		font-family: 'Helvetica' sans-serif;
		font-size: 0.875em;
		color: #000000;
		text-align: left;
		padding-bottom: 3%;
		}

	#article {
		width: 50%;
		margin-top: 10%;
		margin-left: 40%;
		}

	#article h3 {
		text-align: left;
		}

	#article p {
		width: 80%;
		margin-top: 0;
		margin-left: 5%;
		text-align: left;
		}

	/* why does the following not work? Want the par to go in a box */
	#article p.notable {
	    border: 2px solid #000000;
	    padding: 10px 40px; 
	    background color: #e89203;
	    width: 300px;
	    border-radius: 25px !important;
	} 

	
/* contact page */
	/* Responsive for this page not yet done */

.contact

	section {
		display: block;
	    width: 50%;
	    margin: auto;
	    padding: 10px;
	    background-color: #e89203;
		}

	div#one {
	    width: 33%;
	    margin-left: 28%;
	    float: left;
	}

	}
	div#two {
		margin-left: 30%;
	    float: right;
  	}

form {
	/*width:33%;
	float: left;
	clear: both;*/
	}

label {
	display:block;
	width: 26%;
	margin-top:20px;
	letter-spacing:2px;
	}

input, textarea {
	width:439px;
	height:27px;
	background:#efefef;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-family: 'Droid Serif', serif;
	font-size:0.9em;
	color:#3a3a3a;
	}
	
	input:focus, textarea:focus {
		border:1px solid #97d6eb;
	}

textarea {
	height:213px;
	font-family: 'Droid Serif', serif;
	background: #efefef;
	}

#submit {
	width:127px;
	height:38px;
	text-indent:-9999px;
	border:none;
	margin-top:20px;
	cursor:pointer;
	}

	#submit:hover {
		opacity:0.9;
		}

	.contact-details 								
	ul {
		list-style-type: none;
		}

footer {
	margin-top: 15%;
	}


/* background color for testing: #e89203; */

/* ------------------- media queries -------------------- */
/* iphone */
@media all and (max-width: 30em) {
	body {
		font-size: 12px;
		}

	header {
		width: 35%;
		float: right;
		clear: both;
		}

	h1 {
		font-size: 2.25em;
		}
	
	p {
		width: 80%;
		margin-left: 10%;
		}

	.nav_sm {
		display: block; 
		float: left;
		}

	.nav_sm img {
		margin-top: 0;
		margin-left: 0;
		float: left;
		}	

	.clearfix:after {
		content:' ';
		display:block;
		clear:both;
		}

	.nav_lg{
		display:none;
		}

	/* Three-line nav icon */
			.box-shadow-menu {
	  		position: relative;
	  		padding-left: 1.25em;
			}

			.box-shadow-menu:before {
	  		content: "";
		  	position: absolute;
		  	left: 0.5em;
		  	top: 0.2em;
		  	width: 4.3em;
		  	height: 0.9em;
		  	background: #ffffff;
		  	box-shadow: 
			    0 5em 0 0 #ffffff,
			    0 2.5em 0 0 #ffffff;
			}
  
 	.logo a img {
 		width: 55%;
		height: 55%;
		float: right;
		clear: both;
		}
	}

	/* article {
		width: 60%;
	} */
	
/*
@media screen and (max-width:600px){

	nav{
		width:90%;
		margin:1em;
		float:left;
		clear:both;
	}

	.nav_sm{
		display:block;
	}

	.nav_lg{
		display:none;
	}

}
*/

/*ipad portrait 768px */
@media all and (min-width: 30.0625em) and (max-width: 48em) {
	body {
		font-size: 14px;
		}
	h1 {
		font-size: 3em;
		}
			
	p {
		width: 80%;
		margin-left: 10%;
		}

	nav {
        width: 50%;
     	font-size: 1.2em;
      	padding-top: 3px;
   		}
  
  		nav-item {
    		width:100%;
    		float:none;
  		}

	.logo img {
		width: 70%;
		height: 70%;
		}	
	}

/*ipad landscape 1024px */
@media all and (min-width: 48.0025em) and (max-width: 64em) {
	body {
		font-size: 14px;
	}
	h1 {
		font-size: 3em;
	}
	
	p {
		width: 80%;
		margin-left: 10%;
	}

	.logo img {
		width: 75%;
		height: 75%;
	}
	/
	}

