
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #0071b2;
	font-family: 'Droid Serif', serif;
	color: #ffffff;
	font-size: 16px;
	font-weight: 100%;
}

h1 {
	font-size: 3.37em;
	font-family: Oswald;
	color: #ffffff;
	padding-bottom: 0.618%;
}

h2 {
	width: 33%;
	text-align: center;
	font-size: 1.625em;
	font-family: Oswald;
	line-height: 1.313em;
	font-weight: bold;
	padding: 0.618%;
	color: #ffffff;
	margin-left: 33%;
}

h3 {
	font-size: 1.313em;
	font-family: Oswald;
	line-height: 1.313em;
	font-weight: bold;
	width: 33%;
	padding: 0.3%;
	text-align: center;
	color: #ffffff;
	margin-left: 33%;
}

header {
	width: 100%;
	height: 190px;
	margin: 0px auto;
}

aside.figures {
	width: 70%;
	margin-left: 15%;
    overflow: hidden; /* only needed if floating the child elements instead of using inline-block */
}

aside.figures figure {
    display: inline-block;
    clear: both;
}

aside.figures a:hover img {
    border: 2px solid #e89203;
}

figcaption {
  text-align: left;
  width: 100%;
  margin: 0.3%;
  clear: both;
  }

.logo {
	width: 100px;
	height: 150px;
	display: block;
	padding: 1.23%;
	float: left;
	clear: both;
	}

	#logo img {
		width: 100%;
			}

nav {
	margin: 1% auto;
	margin-left: 62%;
	padding: 0.6% 1.23%;
	}

nav ul {
	list-style-type: none;
    margin: 0;
    padding : 0;
    }

nav li {
	float: left;
}

nav li a {
	display: block;
	width: 120px;
	font-weight: bold;
	background: #0ab5c9;
	text-align: center;
	color: #ffffff;
	padding: 5px;
	text-decoration: none;
	letter-spacing: 2px;
	word-spacing: 20px;
	border-left: 1px solid #fff;
}

nav li a:hover {
	background: #e51708;
}

.slogan {
	margin-top: 3%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border: 0;
	padding: 0.3%;
	text-align: center;
}

section {
	font-family: Droid serif;
	word-spacing: 0.188em;
	line-height: 1.313em;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	width: 33%;
	padding: 0.6%;
	margin-top: 10%;
	margin-left: 33%;
	margin-bottom: 7%;
}
	
footer {
	width:100%;
	position:absolute;
	margin-top: 1.2%;
	clear: both;
    text-align:center;
    color: #0ab5c9;
    padding: 0.3%; 
}


@media only screen and (max-width: 768px) {

	body {
		font-size: 14px;
	}


		section {
		width: 60%;
	}

	.logo img {
		width: 75%;
		height: 75%;

}

@media only screen and (max-width: 480px) {

	body {
		font-size: 12px
	}
	
	section {
		width: 60%;
	}
.logo img {
		width: 50%;
		height: 50%;

	
	}
}