
body {
	margin: 0px;
	padding: 0px;
	background-color: #0071b2;
	margin: 0px;
	font-family: 'Droid Serif', serif;
	color: #ffffff;
	font-size: 14px;
	font-weight: 100%;
	
}


h1 {
	font-size: 54px;
	font-family: Oswald;
	color: #ffffff;
	padding-bottom: 10px;
}

h2 {
	width: 33%;
	text-align: center;
	font-size: 26px;
	font-family: Oswald;
	line-height: 21px;
	font-weight: bold;
	padding: 5px;
	color: #ffffff;
	margin-left: 33%;
	
}

h3 {
	font-size: 21px;
	font-family: Oswald;
	line-height: 21px;
	font-weight: bold;
	width: 33%;
	padding: 5px;
	text-align: center;
	color: #ffffff;
	margin-left: 33%;
	
	
}

header {
	width: 100%;
	height: 190px;
	margin: 0px auto;
	background-color: #0071b2;
}





aside.figures {
	width: 70%;
	margin-left: 15%;
    overflow: hidden; /* only needed if floating the child elements instead of using inline-block */
}

aside.figures figure {
    display: inline-block;
    clear: both;
  
}


aside.figures a:hover img {
    border: 2px solid #e89203;
}


figcaption {
  text-align: left;
  width: 120px;
  margin: 5px;
   clear: both;
  
}

.logo {
	margin: 15px auto;
	display: block;
	width: 100px;
	padding: 10px 20px;
	float: left;
	clear: both;
	}

	#logo img {
		width: 100%;
			}

nav {
	margin-left: 900px;
	}

nav ul {
	list-style-type: none;
    margin: 0;
    padding: 20px 0;
}

nav li {
	float: left;
}
nav li a {
	display: block;
	width: 120px;
	font-weight: bold;
	background: #0AB5C9;
	text-align: center;
	color: #ffffff;
	padding: 5px;
	text-decoration: none;
	letter-spacing: 2px;
	word-spacing: 20px;
	border-left: 1px solid #fff;
}

nav li a:hover {
	background: #0AB5C9;
}

.slogan {
	margin-top: 50px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	border: 0;
	padding: 5px;
	text-align: center;
		

}
section {
	font-size: 14px;
	font-family: Droid serif;
	word-spacing: 3px;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	width: 33%;
	padding: 10px;
	margin-top: 10%;
	margin-left: 33%;
	margin-bottom: 7%;
		
}
	

footer {
	width:100%;
	position:absolute;
	margin-top: 20px;
	clear: both;
    text-align:center;
    color: #0AB5C9;
    padding:5px; 


