* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	}

body {
	color: #ffffff;
	background-color: #0071b2;
	font-family: 'Droid Serif', serif;
	font-size: 1em;
	font-weight: 100%;
	width: 100%;
	height: 100%;
	/* margin: 0px;
	padding: 0px; */
	}

header {
	width: 15%;
	display: block;
	margin: 0;
}

	.logo {
		width: 100px;
		height: 150px;
		display: block;
		margin-top: 10%;
		margin-left: 10%;
		padding: 1.23%;
		float: left; /*added this in - pushed logo down and pulled nav up, but pulled .content up too, and moved h1 to left */
		}	
		.clearfix:after {
		content:' ';
		display:block;
		clear:both;
		}
			
	nav {
		display: block;
		float: right;
		margin: 0;
		padding: 0.6% 1.23%;
				}
		.clearfix:after {
		content:' ';
		display:block;
		clear:both;
		}


			nav ul {
				list-style-type: none;
			    margin: 0;
			    padding : 0;
			    }

			nav li {
				float: left;
			}

			nav li a {
				display: block;
				width: 120px;
				font-weight: bold;
				background: #0ab5c9;
				text-align: center;
				color: #ffffff;
				padding: 5px;
				text-decoration: none;
				letter-spacing: 2px;
				word-spacing: 20px;
				border-left: 1px solid #fff;
			}

			nav li a:hover {
				background: #e51708;
			}

.content {
	width: 100%;
		}

h1 {
	width: 100%;
	font-size: 3.37em;
	font-family: 'Oswald';
	color: #ffffff;
	text-align: center;
	padding: 0.618%;
	margin-top: 2%;  
	}

h2 {
	width: 100%;
	text-align: center;
	font-size: 1.625em;
	font-family: 'Oswald';
	line-height: 1.313em;
	font-weight: bold;
	padding: 0.618%;
	color: #ffffff;
	}

h3 {
	font-size: 1.313em;
	font-family: Oswald;
	line-height: 1.313em;
	font-weight: bold;
	width: 33%;
	padding: 1.5% 1%;
	text-align: center;
	color: #ffffff;
	margin-left: 33%;
}

p {
	text-align: center;
	font-size: 0.875em;
	word-spacing: 0.188em;
	line-height: 1.313em;
	font-weight: bold;
	color: #ffffff;
}
	
article {
	width: 50%;
	padding: 0.6%;
	margin: 3% auto 7%;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
 }
   
section {
	width: 60%;
	margin-left: auto;
    margin-right: auto;
}

	figure {
		padding: 2.5em;
		display: block;
		float: left;
  	}

	figure a:hover img {
    border: 2px solid #e89203;
}

	figcaption {
  	display: block;
  	text-align: center;
  	position: relative;
  	padding: 1em 0 1.5em;
 	font-size: 0.75em;
  	clear: both;
  }
 	
footer {
	width:100%;
	position: relative;
	margin-top: 20%;
	clear: both;
    text-align:center;
    color: #0ab5c9;
    padding: 0.5%; 
}

/* About page */

.about 

header {
	background-color: #0071b2;
}
	.

		h1 {

	}

article {
   	  	text-align: left;
   	  	margin-left: 33.3%;
   	  	margin-right: 33.3%;
}

.newspaper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;

    -webkit-column-rule: 4px outset #ff00ff; /* Chrome, Safari, Opera */
    -moz-column-rule: 4px outset #ff00ff; /* Firefox */
    column-rule: 4px outset #ff00ff;
}




/* iphone */
@media all and (max-width: 30em) {
	body {
		font-size: 12px;
	}
	h1 {
		font-size: 2.25em;
	}
	h2 {
		width: 90%
	}
 	.logo img {
		width: 62%;
		height: 62%;
}
	article {
		width: 60%;
	}
	
}

/*ipad portrait 768px */
@media all and (min-width: 30.0625em) and (max-width: 48em) {
	body {
		font-size: 14px;
	}
	h1 {
		font-size: 3em;
	}
	h2 {
		width: 60%
	}
	nav {
         width: 50%;
      font-size: 1.2em;
      padding-top: 3px;
    }
  
  	nav-item {
    	width:100%;
    	float:none;
  	}
	.logo img {
	width: 70%;
	height: 70%;
}	
	article {
		width: 60%;
	}

}

/*ipad landscape 1024px */
@media all and (min-width: 48.0025em) and (max-width: 64em) {
	body {
		font-size: 14px;
	}
	h1 {
		font-size: 3em;
	}
	h2 {
		width: 60%
	}
	.logo img {
		width: 75%;
		height: 75%;
	}
	article {
		width: 60%;
	}
	
}

